.search-field{
    background-image: url("https://i.ibb.co/XS3n97Q/bannerbackground.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 503px;
    padding-top: 10%;
}

@media only screen and (max-width:688px) {
    .search-field{
    height: 150px;
    }
}



